body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 125%;
  background: #000;
  color: #bbb;
  margin: 0;
}

.page {
  font-size: 0.75rem;
  width: calc(100vw - 2em);
  padding: 1em;
  margin: 0 auto;
  position: relative;
}
.year {
  margin: 0 0 2rem 0;
  padding: 1em;
  border-radius: 0.2em;
  background: #222;
}

h1 {
  color: #eee;
  font-size: 1.8em;
  font-weight: 600;
}
h2 {
  color: #eee;
  font-size: 1.5em;
  font-weight: 500;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  color: #eee;
  font-weight: 500;
  text-align: left;
}
td {
  font-weight: 300;
  text-align: left;
}
tr:nth-of-type(even) {
  background-color: rgba(200, 255, 255, 0.2);
}

.lottery-trends {
  background: #333;
  width: 100%;
  height: 50vh;
  margin: 2em 0;
}

@media (max-width: 600px) {
  .page {
    font-size: 0.5rem;
  }
  .year {
    margin: 0 0 1rem 0;
  }
  .year > table {
    width: calc(100vw - 4em);
  }
  tr {
    width: 100%;
  }
  tr,
  td {
    margin: 0;
    padding: 0;
  }
  .lottery-trends {
    height: 80vh;
    width: calc(100vw - 2em);
  }
}
